name: Production

on:
    workflow_dispatch:

concurrency:
    group: production-deployment
    cancel-in-progress: true

jobs:
    docker:
        name: Build and Push Docker Image
        outputs:
            digest: ${{ steps.build.outputs.digest }}
        runs-on: ubuntu-latest
        steps:
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USER }}
                  password: ${{ secrets.DOCKER_PASS }}

            - name: Build and push
              id: build
              uses: docker/build-push-action@v6
              with:
                  push: true
                  tags: carlltz/sclgaffkzndaas:webserver-${{ github.sha }}
                  platforms: linux/amd64,linux/arm64

            - name: Export image digest
              run: echo digest=${{ steps.build.outputs.digest }} >> $GITHUB_OUTPUT

    deploy:
        # Deployment is currently disabled
        if: false
        name: Deploy
        runs-on: ubuntu-latest
        needs:
            - docker
        steps:
            - uses: azure/setup-kubectl@v4
              with:
                  version: v1.34.2
              id: install

            - uses: azure/k8s-set-context@v3
              with:
                  method: service-account
                  k8s-url: ${{ vars.KUBE_SERVER_URL }}
                  k8s-secret: ${{ secrets.KUBE_SA }}
              id: setcontext

            - name: Update deployment
              run: |
                  kubectl -n TODO set image deployment/webserver webserver=carlltz/sclgaffkzndaas:webserver-${{ github.sha }}@${{ needs.docker.outputs.digest }}

            - name: Watch rollout status
              run: |
                  kubectl rollout status deployment/webserver -n TODO --timeout=120s
